<div class="homeWrapper">
<!-- <app-header /> -->
<main class="home-main">
    <div class="introduction">
        <div class="introduction-heading">
            <h1 class="introduction-title">Discover the Passion of the Road: Your Guide to the World of Cars
            </h1>
        </div>
    </div>
    <div class="carList">
        <div class="card">
            <img src="../../../assets/4k Police Lamborghini Car Wallpaper hd for Mobile.jpg" alt="">
        </div>
        <div class="card">
            <img src="../../../assets/Porsche 911 GT3.jpg" alt="">
        </div>
        <div class="card">
            <img src="../../../assets/artwork, Aleksandr Sidelnikov, digital art, yellow cars, Ford Mustang, car _ 1920x1080 Wallpaper - wallhaven_cc.jpg"
                alt="">
        </div>
        <div class="card">
            <img src="../../../assets/Slicing Through Curves_ Exploring Japan's Drift Car Culture.jpg" alt="">
        </div>
        <div class="card">
            <img src="../../../assets/Carro.jpg" alt="">
        </div>
    </div>
</main>
<!-- <app-footer /> -->
</div>